.page {
  @extend .flex;
}
.list {
  flex:1;
  background: #E0E0E0;
  list-style: none;
  @extend .flex-cols;
  @include media($sm) {
    flex-flow: row wrap;
  }

}
html[dir="rtl"] .dropzone {
  margin-left:1.5rem;
}
.item {
  border:1px dotted;
  margin:1.5rem;
  position: relative;
  max-width: 150px;
  min-width: 50px;
  img {
      max-width: 100%;
  }
  &:hover {
    .delete {
      opacity: 1;
    }
  }
}
.delete {
  transition: all .2s;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transform: scale(0.8) translate(1.5rem,-1.5rem);
  background: #222;
  color: $palette-red-500 !important;
}
.box {
  padding: 1.5rem;
text-align: center;
}