// // $colors: ( 1: #2F2BAD, 2: #AD2BAD, 3: #E42692, 4: #F71568, 5: #F7DB15 );
// $clrs: (#2F2BAD,#AD2BAD, #E42692, #F71568, #F7DB15, blue, #008eff, #5c00ff );
// // $words: ('red','pink','purple','deep-purple','indigo','blue','light-blue','cyan','teal','green','light-green','lime','yellow','amber','orange','deep-orange');
// $colors: (
// // $palette-red-700,
// // $palette-red-600,
// // $palette-red-500,
// // $palette-pink-500,
// // $palette-pink-600,
// // $palette-pink-700,
// // $palette-purple-700,
// // $palette-purple-600,
// // $palette-purple-500,
// // $palette-deep-purple-500,
// // $palette-deep-purple-600,
// // $palette-deep-purple-700,
// // $palette-indigo-700,
// // $palette-indigo-600,
// // $palette-indigo-500,
// // $palette-light-blue-500,
// // $palette-light-blue-600,
// // $palette-light-blue-700,
// // $palette-cyan-700,
// // $palette-cyan-600,
// // $palette-cyan-500,
//  // $palette-light-blue-a200,
//
// );
//     @for $i from 1 through 50 {
//         &:nth-child(#{$i}) {
//           $r1: random(15) * 1%;
//           $r2: random(10) * 1%;
//           $r3: random(95) * 1%;
//           $r4: random(90) * 1%;
//           // -webkit-clip-path: polygon(0 $r1,100% $r2,100% 95%,0 90%);
// transition: all .1s cubic-bezier(.005, .069, .55, 1);
//
//
//               // -webkit-clip-path: polygon(0 $poly,100% 8%,100% 93%,0 88%);
//     //         // background: map-get($colors,$i);
//     //         // background: nth($clrs,random(length($clrs)));
//     //         background: nth($colors,random(length($colors)));
//             font-size: 16 + random(50) * 1px;
//         }
//     }

.wrapper {
  position: relative;
    @extend .flex-cols;
    @include media($sm) {
        height: 100%;
    }

    > .grid {
      margin-top: 4rem;
        display: flex;
        flex-flow: column;
        padding-bottom: 100px;
        @include media($sm) {
            flex-flow: row wrap;
            padding: 0;
        }
        align-items: center;
    }

    .item {
        text-align: center;
        margin: 5px;
        display: flex;
        border: 4px solid blue;
        border-image: linear-gradient(145deg,#0027ff,#5c00ff) 1;
        font-size: 20px;

        a {
            padding: 15px;
            width: 100%;
            height: 100%;
            color: blue;
            background: transparent;
        }

        &:hover {
            border: 4px solid $color-accent;
            background: $color-accent;

            a {
                background: rgba(255,255,255,0.3);
            }
        }
    }
}

.loader {
    @extend .flex-center;
    margin-top: 3rem;
    margin-bottom: 8rem;
    position: fixed;
    bottom: 0;
    right:0;
        margin: 3rem;

    button {
        outline: 0;
        border-radius: 25% / 75%;
        padding: 15px 25px;
        background: blue;
        color: #fff;
        font-size: 18px;
        border: 0;
        cursor: pointer;

        &:hover {
            color: blue;
            background: $color-accent;
        }
        @extend %shadow;
    }
}

.nowords {
    @extend .flex-center;
    color: #5c00ff;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 3.5vw;
}