.intro {
    max-width: 90%;
    margin: auto;
    text-align: center;
    line-height: 2;
    h1 {
          font-size: 18px;
          @include media($md) {
            font-size:20px;
          }
    }
}


  .word_text {
    transition: all .2s ease-in;
    cursor: pointer;
    &:nth-child(odd) {
      &:hover {
        fill: blue !important;
      }
    }
    &:nth-child(even) {
      &:hover {
        fill: #5c00ff !important;
      }
    }
  }
