
.languages.dropdown {
    display: flex;
    align-items: center;
    height: 100%;
    margin:0 15px;
    outline: 0;

&:hover {
  background: rgba(255,255,255,0.1);
}
  input {
    text-align: center;
    border-bottom: 0 !important;
color: $color-text-secondary;
    font-size: 1.8rem;
  }
  .field {
    background: red;
  }
  .value {
    padding: 0;
    color:#222;
    &:after {
          border-top: 0.54857rem solid #fff;
    }
  }
  .values {
    color:#222;
    font-size: 1.6rem;
    text-align: center;
  }
}