 %link {

  position: relative;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}
.userLink {
  @extend %link;
}

.userBtn {
  display: none;
  @include media($sm) {
    display: block;
  }
  span {
    color:#fff !important;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.1)
  }
  &.active {
    span {
        color:#fff !important;
    }
    background: blue;
  }
}
html[dir="rtl"] .authLink, html[dir="ltr"] .authLink {
  @extend %link;
  height: 100%;
  padding:0 1.5rem;
  &:hover {
    background: rgba(255, 255, 255, 0.1)
  }
  span {
    font-size:1.8rem;
  }
}