.home {
    @extend .container;
    width: 100%;
    // animation: fadeIn 0.2s forwards;
    display: flex;
    // min-height: 70vh;
    .content {
        width: 100%;
        flex: 1;
    }
    // .sidebar {
    //   display: none;
    //   @include media($sm) {
    //     display: flex;
    //     flex:1 0 calc(30% - 3rem);
    //   }
    // }
    // .content {
    //   flex:1 0 100%;
    //   @extend .flex-cols;
    //
    //   @include media($sm) {
    //     flex:1 0 calc(70% - 3rem);
    //     margin-right: 3rem;
    //   }
    //
    // }
}

.title {
    color: #e91e63;
    text-align: center;
    font-size: 2.5vw;
    overflow: visible;
    padding: 15px 0;
    width: 100%;
    height: 50px;
    font-weight: bold;
    @include media($sm) {
        position: fixed;
        top: 12rem;
        position: fixed;
        left: 0;
        right:0;
    }
}