.spelling {
    margin: 1.5rem 0;
    text-transform: capitalize;
    color:#0000ff;
}

.meaning {
    margin: 1.5rem 0;
    font-weight: 500;
    padding: 0 1.5rem;
    color:#5c00ff;
}
.card {
margin-top: auto;
}
.stage {
  max-width: 70vw;
  min-height: 50vh;
  width: 100%;
  display: flex;
    flex-flow: column;
    height:100%;
}
.content {
  flex:1;
  height: 100%;
  font-size: 3.7vw;
}


.ownerActions {}

.userActions {
    @include media($sm) {
        margin-left: auto;
    }
}

.grdtitle {
  font-size:16px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: visible;
  height: 50px;
}
