html[dir="ltr"] .logo,
html[dir="rtl"] .logo {
    @include media(0px,$sm) {
        width: 100%;
        padding: 0;
            background: rgba(0,0,0,0.2);
    }
    text-align: center;
    font-size: 22px;
    direction: ltr !important;
    align-items: center;
    display: flex;
    flex-flow: row;

    img {
        max-width: 5rem;
        max-height: 5rem;
    }

    .icon {
        margin-right: 10px;
        line-height: 0rem !important;
    }
}

.spanText {
    height: 100%;

    line-height: 0 !important;
}

html[dir="rtl"] .pageButton, html[dir="ltr"] .pageButton {
  outline: 0;
border:0;
box-shadow: none;
-webkit-appearance: none;
background: blue;
@include media($sm) {
      background: $color-primary;
}
height:100%;
cursor: pointer;
&:hover {
    background: rgba(255, 255, 255, 0.1);
}
div {
  @extend .flex-center;
  img {
    max-width: 50px;
  }
  span {
    color:#fff;
    font-size:18px;
    margin-left:15px;
  }
}
}
.pageButton.button,
.pageButton.button.accent,
.pageButton.button.flat {
    height: 100%;
    color: #fff;
    font-size: 2rem;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.navigationLogo {
    display: flex;
    height: 100%;
    padding: 0 !important;
    @include media(0px,$sm) {
        width: 100%;
        // justify-content: center;
    }
}

.link {
    position: relative;
}