@import "~styles/helpers.scss";

.box {
  @extend .flex-center;
  flex:1;
  min-width:150px;
  min-height:75px;
}


.btn.button {
  width:100%;
  margin:3rem;
  .label {

    font-size: 2rem;
  }
}

.main.card {
  margin-top: 8rem;
  margin-bottom: 8rem;
  min-height: 65vh;
  @extend .flex-cols;
  .cardText {
    @extend .flex-cols;
    flex: 1;
align-self: stretch;
height: 100%;
  }
}
.pagetabs.tabs {
  font-family: $font;
  font-size: 1.6rem;
  outline: 0 !important;
  height: 100%;
  flex:1;
  align-self: stretch;
  @extend .flex-cols;
  .label {
    font-size: 1.6rem !important;

  }
  .tab {
    flex:1;
    height:100%;
    align-self: stretch;
    @extend .flex-cols;
    outline: 0 !important;
    font-size: 1.6rem !important;
    .label {
      font-size: 1.6rem !important;
    }
  }
}