html[dir="rtl"] .navDrawer.drawer {
    direction: rtl !important;
    left: inherit !important;
    right: 0;
    border-left: 0 !important;
    border-right: 0;
  transition: all 0.3s cubic-bezier(.05, .69, .14, 1) !important;
    .content {
        color: #fff;
        height: calc(100% - 6rem);
        @extend .flex-cols;
    }
}
.navDrawer.drawer {
  border: 0 !important;
}
%itemText {
  font-family: $font;
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
  text-align: right;
}
.pageButton {
  @extend %itemText;
}
html[dir="rtl"] .navItem.listItem {
    .item {
        &.selectable:not(.disabled):hover {
            cursor: pointer;
            background: rgba(0,0,0,0.5);
            opacity: 1;

            .itemText {
                color: #fff;
            }
        }

        .itemText {
        @extend %itemText;
        }
    }

    [data-react-toolbox="font-icon"] {
        margin-left: 2.2rem;
        margin-right: 0;
        color: #fff;
    }
}

.listHeader {
  border-bottom:1px solid grey;
  color:#222 !important;
}
.bottom {
  margin-top:auto;
  margin-bottom: 3rem;
}
.logoImg {
  max-width: 75px;
  max-height: 75px;
  margin:auto;
}
.centerLogo {
  @extend .flex-center;
  @extend .flex-cols;
}
.brandName {
font-weight: 500;
font-size: 2rem;
text-align: center;
margin:2rem 0;
}

.avatar {
  display: flex;
  align-items: center;
  background: rgba(0,0,0,0.5);
  padding:2rem;
  .name {
    color:#fff;
    margin:0 1rem;
    font-size:1.6rem;
  }
}
