.wrapper {
  margin-bottom: auto;
  @extend .flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  .letter {
    @extend .flex-center;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    color:#fff;
  }
}

.topAvatar {
  background: #0027ff;
  > span {
        font-size: 2.4rem;
  }
}
.main.card {
      max-width: 50vw;
      min-height: 50vh;
}
.title.cardTitle {
    background: #ffe500;
h5 span {
      text-transform: uppercase;
      font-weight: 600 !important;
    }
    span {
          font-size: 2.4rem;
    }
}
.content.cardText {

  padding: 0;
  ul {
    padding: 0;
  }
}

.listItem {
  @extend .flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .score  {
    background: #0027ff;
    border-radius: 50%;
    padding: 5px 10px;
    color:#fff;
    font-weight: bold;
  }

}
.user.avatar {
  display: flex;
  align-items: center;
}
