@import "~styles/helpers.scss";

.cover {
    @extend .pageHeader;
    transition: all 0.2s;
}

.coverOn {
    @extend .pageHeader;
    top: 0 !important;
    transition: all 0.2s;
}

.wrapper {
    // @extend .pageWrapper;

}
.inner {
    // @extend .pageInner;

}

.innerCols {
    // @extend .pageInner;
    flex-flow: column;
}

.loader {
    @extend .flex-center;
    width: 100%;
}

.coverInner {
    @extend .container;
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;

    h4 {
        margin: auto;
    }
}

.row {
    @extend .flex;
    flex-flow: column;
    @include media($sm) {
        flex-flow: row;
    }
    margin: 1.5rem;

    span {
        font-family: $font;
        margin-right: 1.5rem;

        &.label {
            font-weight: bold;
        }
    }
}

.userInfo {
    font-family: $font;
    width: 100%;
    background: $palette-grey-100;
    padding: 3rem !important;
}

.rowUser {
    @extend .row;
    width: 100%;
    justify-content: space-between;
}

.user {
    display: block;
    font-weight: bold;
    font-size: 1.8rem;
}

.email {
    font-size: 1.6rem;
    color: #222;
}

.tel {
    font-size: 1.6rem;
    color: #222;
}

.footerActions.cardActions {
    justify-content: space-between;
}
%link {
   span {
    font-size: 3rem !important;
      color: rgba(0,0,0,0.5) !important;
  }
}
html[dir="rtl"] .arrowLinkLeft {
    @extend %link;
    position: absolute;
    left: 0;
}

html[dir="rtl"] .arrowLinkRight {
    @extend %link;
    position: absolute;
    right: 0;
}

html[dir="rtl"] .arrowForward {
    position: absolute;
    right: 0;
    top: 0;
}

html[dir="rtl"] .arrowBack {
    position: absolute;
    right: 0;
    top: 0;
}