@import "~styles/helpers.scss";


.listHeader {
  @extend .sectionTitle;
  background: transparent;
}

.item.listItem {
  font-family: $font;
}

.leads.list {
    min-height: 65vh;
    margin:15rem 0 10rem 0;
    @include media($sm) {
      margin: 5rem 0 10rem 0;
    }
}