html {
    font-size: 62.5%;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}