@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
      transform: scale(1);
        opacity: 1;
    }

}


@keyframes fadeOut {
    from {
        opacity: 1;
        transform:scale(1);
    }

    to {
        opacity: 0;
        position: absolute;
    }

}


@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





.footerBtn-enter {
  opacity: 0.01;
}

.footerBtn-enter.footerBtn-enter-active {
  opacity: 1;
  transition: all 0.2s cubic-bezier(.05, .69, .14, 1);
}

.footerBtn-leave {
  opacity: 1;
}

.footerBtn-leave.footerBtn-leave-active {
  opacity: 0.01;
  transition: all 0.4s cubic-bezier(.05, .69, .14, 1);
}