.flex {
    display: flex;
}

.flex-center {
    @extend .flex;
    justify-content: center;
    align-items: center;
}

.flex-cols {
    @extend .flex;
    flex-flow: column;
}

.flex-center-x {
    display: flex;
    justify-content: center;
}

.flex-center-y {
    display: flex;
    align-items: center;
}