@import "./mixins.scss";
@import "./reset.scss";

body {
    font-size: 62.5%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.center-text {
  margin-top:5rem;
  @extend .flex-center;
  font-size: 1.8rem;
  font-family: $font;
  width:100%;
  height:100%;
}


input {
  border-radius: 0px !important
}