@import "./vars.scss";
@import "./flex.scss";
@import "./mixins.scss";
@import "./theme.scss";
@import "./animations.scss";

// .mainWrapper {
//   min-height: 100vh;
//   height: 100%;
//   position: relative;
//   // width: 100vw;
//   @extend .flex-cols;
//   > main {
//     flex:1;
//   }
// }

.container {
    max-width: 90%;
    margin: auto;
    @include media($sm) {
        max-width: calc(#{$sm} - 5rem);
    }
    @include media($md) {
            max-width: calc(#{$md} - 10rem);
    }
    @include media($lg) {
    max-width: calc(#{$lg} - 15rem);
    }
}


%shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

%Page {
    @extend .container;
    margin: 0 auto;
    padding: 3rem 0;
}


.pageWrapper {

  @include media($sm) {
    margin-top: 8rem;
  }
}


.pageInner {
    // opacity: 0;
    // animation: fadeInPage .25s forwards ease-in;
    @extend .container;
    @extend .flex-center;
    @extend .flex-cols;
    padding: 3rem 1.5rem;

    @include media($sm) {
        flex-flow: row;
        justify-content: flex-start;
    }
}

html[dir="rtl"] .pageHeader {
      @extend .flex-center;
      flex: 1;
      height: 10vh;
      width: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        // background:linear-gradient(145deg,$palette-deep-purple-800, $palette-indigo-500);
    background: $color-accent-dark;
      position: fixed;
      top: 8rem;
      z-index: +1;
      h4 {
          text-align: center;
          user-select: none;
          font-size: 1.8rem;
          font-family: $font;
          // font-weight: 500;
          color: #222;
      }
}



.btn  {
  width: 15rem;
  height: 5rem;
  line-height: 2;
  background: #222;
  color:#fff !important;
  font-size: 1.7rem;
  font-weight: 500;
  transition: all .2s ease-in-out;
  .icon {
    color:#ffa000 !important;
  }
  &:hover {
    background: #ffa000 !important;
    color: #222 !important;
    .icon {
      color:#222 !important;
    }
  }

}

.sectionTitle {
      padding: 3rem 0;
      font-family: $font;
      width: 100%;
      text-align: center;
      font-size: 2.1rem;
      font-weight: 500;
      position: relative;
      color: #222;
        background: #e2af4c;
      // margin-bottom: 1.5rem;
    &:after {
      position: absolute;
      content: "";
      bottom: 25%;
      left:calc(50% - 3.5rem / 2);
      height: 1px;
      width:3.5rem;
      background: #BDBDBD;
    }
}



.coverInner {
    @extend .container;
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  h4 {
      margin: auto;
  }
}



.hebDatePicker {
  .calendar {
      .dialog {
          .header {
              background: $color-accent-dark;
          }
      }
  }

  .next {
      transform: rotate(-180deg);
  }

  .prev {
      transform: rotate(180deg);
  }

  .date,
  .title {
      font-size: 1.8rem !important;
      font-family: $font;
  }
}

.hebCheckbox {
      // right: 0 !important;
      // left: inherit !important;
      // position: absolute !important;
      // bottom: -15%;
      // @include media(1300px) {
      //   bottom: -25% !important;
      // }

      > div:after {
          left: 0.4rem !important;
          border-right-width: 2px !important;
          border-left: 0 !important;
          transform: rotate(45deg) !important;
          right: inherit !important;
          border-left-width: inherit !important;
          border-right: 2px solid #fff !important;
      }
      font-family: $font;

      .label {
          font-family: $font;
      }

      .inputElement {
          border-radius: 0 !important;
            -webkit-border-radius: 0;
          font-family: $font;
      }
}


%hebInput {
    .label {
        font-family: $font;
    }

    // .icon {
    //     color: #222;
    // }

    .label {
        color: #222 !important;
    }

    .bar {
        &:after,
        &:before {
            background: #222 !important;
        }
    }
    .inputElement {
        font-family: $font;
        border-radius: 0 !important;
          -webkit-border-radius: 0;
    }
}



%radioBtn {
  font-family: $font;

  .text {
      font-family: $font !important;
  }

  .label {
      font-family: $font;
  }

  .inputElement {
      font-family: $font;
      border-radius: 0 !important;
        -webkit-border-radius: 0;
  }
}
%radio {
    font-family: $font;

    .text {
        font-family: $font !important;
    }

    .label {
        font-family: $font;
    }

    .inputElement {
        font-family: $font;
        border-radius: 0 !important;
          -webkit-border-radius: 0;
    }
}


