@import "./vars.scss";
@mixin media($min, $max: null) {
     @if ($max){
        @media all and (min-width: $min) and (max-width: $max) {
             @content;
        }
    }
    @else {
         @media all and (min-width: $min){
            @content;
        }
    }
}


