@import "~react-toolbox/lib/colors"; //-- Color configuration
$color-divider: $palette-grey-200 !default;
$color-background: $color-white !default;
$color-text: $palette-grey-900 !default;
$color-text-secondary: #fff !default;
// $color-primary: #2F2BAD !default;
$color-primary: #5c00ff !default;
$color-primary-dark: #100f0f !default;
$color-accent: #2575FC !default;
$color-accent-dark: rgba(0,0,0,0.5) !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default; //-- Sizing
$unit: 1rem !default; /// appbar
$appbar-color: darken($color-primary,5%);
// $appbar-color: darken($color-primary-dark,5%) !default;
$appbar-contrast: $color-primary-contrast !default;
$appbar-title-total-distance: 8 * $unit !default;
$appbar-height: 6.4 * $unit !default;
$appbar-height-m-portrait: 5.6 * $unit !default;
$appbar-height-m-landscape: 4.8 * $unit !default;
$appbar-h-padding: 2.4 * $unit !default;
$input-text-highlight-color: #222 !default;
$preferred-font: "Assistant";
/* 039 Deep Blue: */
// $grd: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);
$grd: #5c00ff;
// $grd: linear-gradient(90deg, #38F9D7 0%, #43E97B 100%);
// $grd: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
/* 162 Perfect White: */
// debe91