.snack.snackbar {
  background: #5c00ff;
  height:8rem;
  left:0;
  right:0;
  width:100vw;
  overflow: hidden;
  z-index: +9999;
  .label {
    font-size:3.5vw;
    color:#fff;
    width:100%;
    text-align: center;
  }
}