.wrapper {
    @extend .flex-center;
    @extend .flex-cols;
    width: 100%;
  height: 100%;
    > * {
        flex: 1;
        height: 100%;
    }
    &.fullHeight {
          height: calc(90vh - 10rem);
    }
}