.ownerData {
  @extend .flex-center;
  margin-left: auto;
  min-height: 50px;
  background: #fff;
  &.center {
    margin:auto;
    margin-bottom: 30px !important;
  }
  position: relative;
  &:after {
    position: absolute;
    top:0;
    left:0;
    content: "";
    right:0;
    bottom:0;
    width:100%;
    height:100%;
  // background: $color-primary;
  background: blue;
    mix-blend-mode: lighten;
  }
  img {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    -webkit-filter:grayscale(100%) contrast(1);
    mix-blend-mode:multiply;

  }
  span {
    font-size: 20px;
    margin-left: 15px;
  }
}


.grdtitle {
  font-size:16px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: visible;
  height: 50px;
}
