$colors: (
    1: #2F2BAD,
		2: #AD2BAD,
		3: #E42692,
		4: #F71568,
		5: #F7DB15
);
$clrs: (#2F2BAD,#AD2BAD, #E42692, #F71568, #F7DB15, blue, #008eff, #5c00ff );
// https://codepen.io/thebabydino/pen/vgXrZm?editors=1100#0
$d: 4px;

// html { overflow: hidden; background: #222; }

.particle {
	position: absolute;
	// width: $d; height: $d;
	animation: shoot .3s ease-out forwards;
	// animation-name: shoot, fade;

	@for $i from 0 to 400 {
		$t: (1 + .01*random(100))*5s;

		&:nth-child(#{$i + 1}) {
      &:hover {
        animation-play-state: paused;
      a {
          color:#008eff;
      }
      font-size:4vw;
      font-weight: bold;
      }
      font-size:16 + random(50) * 1px;
      transition: color .2s;
      cursor:pointer;

			// transform: translate(random(90)*1vw,
													//  random(65)*1vh);
      a {
        color:#5c00ff;
        // color: hsl(random(360), 100%, 65%);

      }
			animation-duration: $t;
			animation-delay: -.01*random(100)*$t;
		}
	}
}

@keyframes shoot {
	0% { transform: translate(50vw, 50vh); }
}
@keyframes fade { to { opacity: 0 } }


.grid {

	display: flex;
	flex-flow: column;
	@include media($sm) {
		flex-flow:row wrap;
	}
	min-height: 45vh;
	align-items: center;
	> .item {
				color:#fff;
		flex:1;
		padding:15px;
		text-align: center;
		margin:0 5px;
		@for $i from 1 through 50 {
			&:nth-child(#{$i}) {
					background: map-get($colors,$i);
					background: nth($clrs,random(length($clrs)));
					font-size:16 + random(50) * 1px;
			}
		}
		&:last-child {
			flex: 0 1 auto;
		}

	}
}