.footer {
@include media($sm) {
    display: none;
}
  z-index: +20;
    @extend .flex-center;
    // background: #0027ff;
    background: $color-primary;
    // @include  media($sm) {
    //   background: rgba(0,0,0,0.2);
    // };

  box-shadow: 0 -1px 30px rgba(0,0,0,0.5);
  width:100%;
  overflow: hidden;
  height:6rem;
  @include media($sm) {
      height:8rem;
  }
  position: fixed;
  bottom: 0;
    > .inner {
      @include media(0px,$sm) {
              width:100%;
      }
        @extend .flex;
        margin-right: auto;

        height: 100%;
        .dev {
            font-size: 1.6rem;
            color: rgba(255,255,255,0.2);

            &:hover {
                color: rgba(255,255,255,1);
            }
        }
    }
}

.btns {
    display: flex;
    justify-content: space-around;

  height: 100%;
width: 100%;
@include media($sm) {
      margin-right: auto;
}
  a {
    position: relative;
    cursor: pointer;
    width:100%;
      height: 100%;
      flex:1;
      display: flex;
      &.active {
        .button {
            background:#f5f5f5;
        }
      }
    &:hover:not(.active) {
      @include media($sm) {
        background: $color-accent;
        .button {
          color: blue;
        }
      }
    }
    &:not(.active) {
      .button {
        color:#fff;
      }
    }
  }
}

.button {
    margin-right: auto;
    box-shadow: none;
    border: 0;
    height: 100%;
    flex:1;
    background: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    outline: 0;
    color: blue;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    -webkit-apperance: none;
    @include media($sm) {
      padding: 15px 25px;
    }
}