@import "~styles/helpers.scss";
.formTitle {
    text-align: center;
    font-size: 1.6rem;
    font-family: $font;
    margin: 1.5rem;
}
html[dir="rtl"] .form {
    width: 100%;
    margin-bottom: 6rem;
    margin-top: 6rem;
    min-height: 40vh;
    @include media($sm) {
        margin-bottom: 0;
        margin-top: 0;
        max-width: 450px;
        // margin-left: auto;
    }
    &.center {
      @extend .flex-center;
      @extend .flex-cols;
    }
}

html[dir="rtl"] .formInput.input {
  @extend %hebInput;
  .inputElement {
        overflow: hidden;
  }
  .label {
    color:$color-accent;
  }

}


html[dir="rtl"] .progress {
      right: -1.5rem;
      visibility: hidden;
  @supports (mix-blend-mode: multiply) {
    mix-blend-mode: multiply;
  }

}
.pending {
  opacity: 0.5;
}

html[dir="rtl"] .visible {
  visibility: visible;
}
html[dir="rtl"] .submitBtn.button  {
  @extend .btn;
  @supports (mix-blend-mode: multiply) {
    mix-blend-mode: multiply;
  }
  width: 100%;
  margin-top: 1.5rem;
      .label {
          color: #000;
      }

      .icon {
          margin-left: 1.5rem;
      }


}
.margin {
  margin:3rem 0;
}
.title {

      @extend .sectionTitle;
      width: 100%;
}

.hint {
  color: rgba($color-text,0.9);
}

.thanks {
  @extend .flex-cols;
  @extend .flex-center;
  min-height: 150px;
  line-height: 2;
  font-size:1.8rem;
  text-align:center;
  color:#222;
  height:100%;
  margin: auto;
  p {
    flex:1;
  }
}