html[dir="rtl"] .appBar, html[dir="ltr"] .appBar {
    direction: ltr !important;
    transition: all 0.2s;
    position: relative;
    // box-shadow: 0 1px 21px rgba(0, 0, 0, 0.26);
    // box-shadow: none !important;

    position: fixed;
    z-index: +20;
    height: 5rem;
    padding: 0;
    @include media($sm) {
      height: 8rem;
    }
    transform: translateY(0);
    @include media($sm) {
      background: $grd;

    }
}
.appBar.scrollAppBar {
  // background: $color-primary;
}

 .toggleBtn {
    @extend .flex-center;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 65px;
    .icon {
        color: #fff;
        font-size: 3rem;
    }
    display: block;
    @include media($sm) {
        display: none;
    }
}

html[dir="rtl"] .toggleBtn, html[dir="ltr"] .toggleBtn {
    right: 0;
}

