.row {
    margin-top: 1.5rem;
}

.title.cardTitle {
      background: $color-primary;
    text-transform: uppercase;

    .title {
      color:$color-text-secondary;
        font-weight: 600 !important;
        font-size: 2.4rem !important;
    }
}

.avatar {
    background: blue;
}

.actions.cardActions {
    justify-content: space-between;
    padding-bottom: 3rem !important;
}

.card {
    min-height: 50vh;
    @include media($sm) {
        max-width: 50vw;
        margin: auto;
    }
}

.content {
    height: 100%;
    flex: 1;
    @extend .flex-cols;
    justify-content: center;
}

.addBtn {
    margin: auto;
    box-shadow: none;
    border: 0;
    border-radius: 25% / 75%;
    padding: 15px 25px;
    color: #fff;
    font-size: 1.6rem;
    background: blue;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: 0;

    &:hover {
        background: $color-primary;
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.8;
    }
}