.inner {
  // @include media(0px,$sm) {
  //   max-width: 100%;
  //   margin: 0;
  // }

    @extend .container;
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all .2s;
    transform: translate(0);
}
.navigation {
    height: 100%;
    padding: 0;
    display: none;
    padding:0 !important;
    @include media($sm) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

.link {
  position: relative;
}
.goback {
  position: absolute;
  @extend .flex-center;
  height:100%;
}

.pageButton.button,
.pageButton.button.accent,
.pageButton.button.flat {
    height: 100%;
    color: #222;
    font-size: 2rem;
    &:hover {
      background: rgba(255, 255, 255, 0.1)
    }
}

.logo_text {
  @extend .flex-center;
  color:#fff;
  letter-spacing: 2px;
  font-family: 'Roboto';
h1 {
    font-size: 3vw;
}
  flex:1;
}

