.page {
    @extend .container;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.title.cardTitle {
    background:$color-primary;
    text-transform: uppercase;

    .title {
        color:$color-text-secondary;
        font-size: 2.4rem;
        font-weight: 600;
    }
}

.content.cardText {
    height: 100%;
    flex: 1;
    padding: 0;
    max-height: 41vh;
    overflow-y: scroll;
    overflow-x: hidden;
    ul {
        padding: 0;
    }
}

.card {
    max-width: 50vw;
    min-height: 50vh;
}

.avatar {
    background: blue;
}

.listheader.subheader {
    margin-top: 1.5rem;
}

.noData {
    @extend .flex-center;
    @extend .flex-cols;
    font-size: 1.8rem;
}