.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: +10;
  position: absolute;
  // height: 100%;
  left:0;
  right:0;
  top:5rem;
  bottom:6rem;
  min-height:calc(100% - 11rem);
  @include media($sm) {
    top:8rem;
    // bottom:8rem;
    bottom:0;
    min-height:calc(100% - 16rem);
    overflow-y: scroll;
    // background: #F5F5F5;

  }
}