.page {
  @extend .flex-center;
  @extend .flex-cols;
  @extend .container;
}

.text {
  font-size:2vw;
  color:#777;
  font-weight: bold;
  text-align: center;
  margin: 3rem;
}
.btns {
  @extend .flex-center;
  @extend .flex-cols;
}
.loginBtnContainer {
  display: flex;
  justify-content: space-between;

  margin:1.5rem;
  flex:1;
width: 100%;
    max-width: 300px;
div {
  display: flex;
  line-height: 40px;
  justify-content: space-between;
  width:100%;
}
  button {
    img {
      max-width: 40px;
      max-height: 40px;
      margin-right:1.5rem;

    }
    span {
      text-align: left;
      margin-left: 10px;
      flex:1;
    }
    @extend .flex-center;
    width: 100%;
    outline:0;
    border:4px solid;
    font-size: 1.8rem;
    padding:15px;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }

}

.google {
      button {
        border-color: #F44336;
        &:hover {
          background: #F44336;
        }
      }
}
.facebook {
  button {
    border-color: #3F51B5;
    &:hover {
      background: #3F51B5;
    }
  }
}

.twitter {
  button {
    border-color: #00acee;
    &:hover {
      background: #00acee;
    }
  }
}

.title {
  text-align: center;
  overflow: visible;
  font-size:2.5vw;
  padding: 15px 0;
  width:100%;
  height:50px;
  font-weight: bold;
}
